
body {
    font-family: Arial, sans-serif;

    background: #fff;
}

table tr th td{
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid black; /* outer border */
    table-layout: fixed;
}

/* General Styles */

.fua-page {
    width: 210mm;
    min-height: 297mm;
    padding: 20px;
    border: 1px solid #000;
    box-sizing: border-box;
}

.table-section {
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid black; /* outer border */
    width: 100%;
    table-layout: fixed;
}

.section-header {
    width: 100%;
    background-color: lightgray;
    border: 2px solid black;
}

.section-content {
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

.table-field {
    border: 1px solid black;
    border-collapse: collapse;
}

.table-data {
    border: 1px solid black; /* inner borders */
    width: 100%;
    text-align: center;
}

.auxTable {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    border-spacing: 0px;
}



.blank-space {
    font-weight: bold;
    background-color: aquamarine;
}

.section-title {
    width: 100%;
    height: 12mm;
    font-weight: bold;
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: center; /* Optional: also center horizontally */
    border: 1px solid #000;
    box-sizing: border-box;
    background-color: gray;
}
 
/* Unique Styles */

#section-1-1 {
    width: 100%;
    height: 7.6mm;
}

#section-1-2 {
    width: 100%;
    height: 51.3mm;
}

#section-3 {
    width: 100%;
    height: 9mm;
}



  